include README.md
include GLOSSARY.md
include CHANGELOG.md
include LICENSE
include pyproject.toml
recursive-include docs *.md
recursive-include src *.py *.md
recursive-include tests *.py
recursive-include tools *.py
recursive-include _internal *.py *.md *.toml *.json
prune .github
exclude .gitignore
global-exclude __pycache__ *.py[cod] .DS_Store
